# yarn-network/dotfiles@b9a622638dbd

.env
/data
logs
*.log

dist
dist-ssr
*.local
.cache
.mf

target
_site

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

node_modules/

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
